# Compiled Python files
__pycache__/
*.py[cod]

# Logs and databases
*.log
*.sqlite
*.db

# Packages and modules
*.pyc
*.egg-info/
dist/
build/
*.egg

# Local development settings
.env
.vscode/
.idea/
.venv/


# Other
.DS_Store
Thumbs.db
cSpell.json