[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
workspace = {editable = true, path = "."}
pandas = "*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.10"
